# Enade - Transformação de Dados - parte 01

In [1]:
# Importar as bibliotecas necessárias
import pandas as pd
import numpy as np
import os
# Exibe o diretório corrente
print(os.getcwd())
# Exibe todos os arquivos no diretório corrente
print(os.listdir(os.getcwd()))

/home/alunoigti/projeto_enade
['.ipynb_checkpoints', '.git', 'engdados', 'microdados_enade_2019.txt']

In [2]:
enade = pd.read_csv(
    #'/enade2019/3.DADOS/microdados_enade_2019.txt', ==>  FileNotFoundError
    "microdados_enade_2019.txt",
    sep=';', decimal=','    
)

/home/alunoigti/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,84,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2,5,1,1,2,5,8,7,1,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1,4,2,2,2,5,4,4,2,2
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,4,4,3,3,4,1,1,1,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,5,2,2,2,3,3,4,3,3
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Verificando o esquema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}

In [5]:
# NT_GER
enade.NT_GER.describe()

count     390138.0
unique      1571.0
top           38.3
freq        1031.0
Name: NT_GER, dtype: float64

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

Mais alguns itens do questionário do estudante: 

- 01: Estado Civil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade da mãe
- 08: Renda Familiar
- 10: Situação de trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de Estudo / semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha da IES

In [6]:
# Contar o número de nulos
enade.NT_GER.isnull().sum()

43792

In [7]:
# Quantidade relativa de nulos, qtos porcentos são nulos
enade.NT_GER.isnull().sum()/enade.shape[0]

0.10091950314566865

In [8]:
enade.shape

(433930, 137)

In [9]:
# Verficar a nota geral dos alunos que estão no Nordeste
#.loc faz um filtro
enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.describe()

count     82944.0
unique     1271.0
top          44.1
freq        234.0
Name: NT_GER, dtype: float64

In [10]:
# Retornando o número de linhas
enade.loc[
    enade.CO_REGIAO_CURSO == 2
]

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
1294,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6,6,4,3,4,5,6,4,6,4
1295,2019,3,10002,10028,5710,294,1,2806701,28,2,...,5,3,4,4,4,4,2,1,3,2
1296,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6,5,4,4,4,3,3,4,3,3
1297,2019,3,10002,10028,5710,294,1,2806701,28,2,...,6,5,6,5,6,6,8,4,6,6
1298,2019,3,10002,10028,5710,294,1,2806701,28,2,...,5,3,4,5,5,5,3,5,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433317,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,4,4,5,3,2,3,2,3,2,4
433318,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6,6,6,6,6,6,6,6,6,6
433319,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6,6,6,6,6,6,6,6,6,6
433320,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6,6,6,6,6,6,6,6,6,6
433321,2019,19337,10005,10022,6208,5001186,1,2307650,23,2,...,6,1,6,6,6,6,6,6,6,6

In [11]:
# Filtrando alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) &
    (enade.NU_IDADE <= 50)
].shape[0]

429019

In [12]:
# Tabela cruzada
# Contar quantos homens e mulheres
enade.TP_SEXO.value_counts()

F    233279
M    200651
Name: TP_SEXO, dtype: int64

In [13]:
enade.TP_SEXO.value_counts() / enade.shape[0]

F    0.537596
M    0.462404
Name: TP_SEXO, dtype: float64

In [14]:
enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.describe()

count     82944.0
unique     1271.0
top          44.1
freq        234.0
Name: NT_GER, dtype: float64

In [18]:
# Acessando estatísiticas descritivas da NOTA GERAL
# apenas para os alunos da REGIÃO Centro-Oeste (5)
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe(include='all')

count     30769.0
unique     1056.0
top          44.6
freq         97.0
Name: NT_GER, dtype: float64

In [30]:
# Quero comparar as regiões - vamos agregar utilizando uma média

enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

          NT_GER     NT_FG     NT_CE
count   390138.0  390138.0  390138.0
unique    1571.0    1251.0    1638.0
top         38.3      25.7      29.8
freq      1031.0    7474.0    2626.0

In [33]:
# vamos comparar médias de notas para cada região do Brasil
#enade.groupby('CO_REGIAO_CURSO').agg({
#    "NT_GER": "mean",
#    "NT_FG" : "mean",
#    "NT_CE" : "mean"
#})

Transformações

. CO_IES
. CO_CATEGAD
. CO_GRUPO
. CO_MODALIDADE
. CO_UF_CURSO
. CO_REGIAO_CURSO
. NU_IDADE
. TP_SEXO
. NT_GER
. NT_FG
. NT_CE

In [34]:
# cria uma variável ou coluna chamada enade['DESC_PUBLICA']
enade['DESC_PUBLICA'] = ""    # atribuindo uma string vazia
enade.loc[enade.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]),
          "DESC_PUBLICA"
         
         ] = "Privado"

In [35]:
enade.loc[
    enade.CO_CATEGAD.isin([
        93, 115, 116, 10001, 10002, 10003
    ]), "DESC_PUBLICA"
] = "Publico"

In [36]:
enade.DESC_PUBLICA.value_counts()

Privado    332879
Publico    100971
               80
Name: DESC_PUBLICA, dtype: int64

In [37]:
# verificando em números relativos
enade.DESC_PUBLICA.value_counts() / enade.shape[0]

Privado    0.767126
Publico    0.232690
           0.000184
Name: DESC_PUBLICA, dtype: float64

In [41]:
# transformar a modalidade
# se modalidade = 0 "EAD"
# se modalidade = 1 "Presencial"
enade["CO_MODALIDADE"] =  enade.CO_MODALIDADE.replace({
    0 : 'EaD',
    1 : 'Presencial'
})

In [42]:
# transformar a modalidade
enade.CO_MODALIDADE.value_counts()

Presencial    410542
EaD            23388
Name: CO_MODALIDADE, dtype: int64

In [43]:
# trasnforma região
enade["CO_REGIAO_CURSO"] = enade.CO_REGIAO_CURSO.replace({
    1: "Norte",
    2: "Nordeste",
    3: "Sudeste",
    4: "Sul",
    5: "Centro-Oeste"
})

In [44]:
enade.CO_REGIAO_CURSO.value_counts()

Sudeste         202505
Nordeste         91742
Sul              76788
Centro-Oeste     34192
Norte            28703
Name: CO_REGIAO_CURSO, dtype: int64

In [49]:
# Transformando Cor Raça
enade["DESC_COR"] = enade.QE_I02.replace({
    "A": "Branca",
    "B": "Preta",
    "C": "Amarela",
    "D": "Parda",
    "E": "Indígena",
    "F": pd.NA,
    " ": pd.NA    
})

In [50]:
enade.QE_I02.value_counts()

A    220386
D    135770
B     32869
      26056
C     10093
F      7456
E      1300
Name: QE_I02, dtype: int64

In [51]:
dict(enade.QE_I02.value_counts())

{'A': 220386,
 'D': 135770,
 'B': 32869,
 ' ': 26056,
 'C': 10093,
 'F': 7456,
 'E': 1300}

In [52]:
dict(enade.DESC_COR.value_counts())

{'Branca': 220386,
 'Parda': 135770,
 'Preta': 32869,
 'Amarela': 10093,
 'Indígena': 1300}

Algumas perguntas para responder

1. Qual é a nota geral média dos alunos da região Nordeste?

In [59]:
#enade.loc[
#    enade.CO_REGIAO_CURSO == "Nordeste",
#    "NT_GER"
#].mean()

2. Qual é a média da nota do componente específico dos alunos do Rio Grande do Sul de cursos de engenharia eletríca?

In [60]:
enade.loc[
    (enade.CO_UF_CURSO == 43) &
    (enade.CO_GRUPO == 5806),
    "NT_CE"
].mean()

34.79692671394829

3. Qual é a média da nota do componente de formação geral de alunas do sexo feminino, pardas, de minas gerais em cursos presenciais de Engenharia de produção?

In [61]:
enade.loc[
    (enade.TP_SEXO == "F") &
    (enade.DESC_COR == "Parda") &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_MODALIDADE == "Presencial") &
    (enade.CO_GRUPO == 6208),
    "NT_FG"    
]

71186     34.3
71189       67
71210     55.5
71268     68.4
71270     79.8
          ...
431594    39,5
431596    53,9
431599    25,7
431600    41,1
431604    42,7
Name: NT_FG, Length: 662, dtype: object

In [68]:
enade.loc[
    (enade.TP_SEXO == "F") &
    (enade.DESC_COR == "Parda") &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_MODALIDADE == "Presencial") &
    (enade.CO_GRUPO == 6208),
    "NT_FG"
].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'